
/* ------------------------- */
/* STYLES GÉNÉRAUX GLOBAUX  */
/* ------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}

/*body {
  background: radial-gradient(circle at top, #0f172a 0%, #020617 80%);
  color: #ffffff;
  min-height: 100vh;
  overflow-x: hidden;
}*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ------------------------- */
/* ANIMATIONS SCROLL         */
/* ------------------------- */
.scroll-reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.scroll-reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.scroll-reveal-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.scroll-reveal-left.active {
  opacity: 1;
  transform: translateX(0);
}

.scroll-reveal-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.scroll-reveal-right.active {
  opacity: 1;
  transform: translateX(0);
}

.scroll-reveal-scale {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.scroll-reveal-scale.active {
  opacity: 1;
  transform: scale(1);
}

/* ------------------------- */
/* SECTION HERO              */
/* ------------------------- */
.hero {
  position: relative;
  text-align: left;
  padding: 150px 100px 150px 20px;
  background: #1C1C1E;
  animation: fadeInUp 0.9s forwards;
}

.hero .container {
  position: relative;
  z-index: 2;
  transform: translateY(50px);
  animation: fadeInUp 0.9s forwards;
}

.hero::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  width: 480px;
  height: 25px;
  background: radial-gradient(ellipse at center, rgba(138, 43, 226, 1) 0%, rgba(138, 43, 226, 1) 50%, transparent 100%);
  filter: blur(25px);
  z-index: 1;
}

.hero-subtitle {
  font-size: 4rem;
  font-weight: 1000;
  margin-bottom: 10px;
  transform: translateY(50px);
  animation: fadeInUp 0.5s forwards;
}

.gradient-text {
  background: linear-gradient(-90deg, #FFFFFF 0%, #FFFFFF 70%, #00E6E6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: fadeInUp 0.9s forwards;
}

.hero-description {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 25px 0;
  animation: fadeInUp 0.9s forwards;
}

.hero-button-container {
  display: flex;
  justify-content: left;
  gap: 20px;
  margin-top: 30px;
  animation: fadeInUp 0.9s forwards;
}

.hero-image {
  width: 700px;
  height: auto;
  position: absolute;
  top: 40%;
  right: 400px;
  z-index: 0;
  filter: drop-shadow(-20px -20px 60px rgba(0, 230, 230, 0.5));
  animation: float-rotate 4s ease-in-out infinite;
}

@keyframes float-rotate {
  0% {
    transform: translateY(-50%) translateY(-50px) rotate(10deg);
  }
  50% {
    transform: translateY(-50%) translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) translateY(-50px) rotate(10deg);
  }
}

.btn-explorer,
.btn-savoir-plus {
  text-decoration: none;
  padding: 14px 20px;
  font-size: 1.2rem;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
  box-shadow: 0 0 20px rgba(0, 230, 230, 1);
}

.btn-explorer {
  padding: 14px 40px;
  background: linear-gradient(180deg, #0066FF, #8A2BE2);
  color: white;
}

.btn-savoir-plus {
  background: transparent;
  color: #ffffff;
  border: 2px solid #00E6E6;
}

.btn-explorer:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 25px rgba(139, 92, 246, 0.7);
}

.btn-savoir-plus:hover {
  background: #00E6E6;
  color: white;
  box-shadow: 0 0 20px rgba(139, 92, 246, 0.7);
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ------------------------- */
/* RESPONSIVE                */
/* ------------------------- */
@media (max-width: 768px) {
  .hero {
    padding: 80px 20px;
  }
  .hero-subtitle {
    font-size: 2rem;
  }
  .hero-button-container {
    flex-direction: column;
  }
  .products-grid {
    grid-template-columns: 1fr;
  }
  .section-title {
    font-size: 2rem;
  }
  .cta-title {
    font-size: 2rem;
  }
  .cta-buttons {
    flex-direction: column;
  }
  .new-title-R,
  .new-title-V,
  .new-title-B {
    font-size: 2.5rem;
  }
  .new-title-R {
    left: 50px;
  }
  .new-title-B {
    right: 50px;
  }
}