.client-informations {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
  max-height: 100vh;
}

.left-side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
  background-color: #1c1c1e;
  width: 275px;
  max-width: 300px;
  height: auto;
  padding-top: 30px;
}

.user-picture-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  align-items: center;
}

.user-picture {
  width: 150px;
  height: 150px;
  background-color: #333;
  border-radius: 50%;
}

.username {
  font-weight: 600;
  margin-top: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  gap: 10px;
}

.info hr {
  border: none;
  border-bottom: 1px solid rgb(100, 100, 100);
  width: 100%;
}

.info a {
  color: #ccc;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
}

.info a:hover,
.info a.active {
  color: #8a2be2;
}

.logout {
  display: flex;
  align-items: center;
  height: 50px;
  border-top: 2px solid rgb(80, 80, 80);
  padding-left: 30px;
  cursor: pointer;
}